@page
@model ContactModel
@{
    ViewData["Title"] = "About";
}
<h2>Contact Information</h2>
<h3>Mario Elias</h3>

<address>
    425 W 5th S apt# 45<br />
    Rexburg, ID 83440<br />
    <abbr title="Phone">P:</abbr>
    208-243-7555
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">mario@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">mario@gmail.com</a>
</address>
